{% extends 'base.html' %}

{% block title %}Billing{% endblock %}

{% block content %}
  {% for message in messages %}
  <p id="messages">{{ message }}</p>
  {% endfor %}
    
    <div class="container-fluid">
      <div class="row flex-xl-nowrap">
        <div class="col-12 col-md-3 col-xl-2 bd-sidebar">
          <h5>Occupied Rooms</h5>
          <div class="d-flex justify-content-center mt-3 login_container">
            {% for instance in qs %}
              <p><a class="btn login_btn" href="../room/{{instance.room_no}}">{{instance.room_no}}</a></p>
              {% ifequal forloop.counter|divisibleby:"3" True %}   
          </div><div class="d-flex justify-content-center mt-3 login_container">
              {% endifequal %}
            {% endfor %}
            </div>
        </div>
        <nav class="nav nav-pills flex-column flex-sm-row">
          
          <form method = 'POST' id='form-id' class='nav-link'> {% csrf_token %}
            <table>
              <h5 class='text-sm-center'>Checking Out Form:</h5>
              {{ form }}
            </table>
            <br>
            <p class="text-sm-center"><input type = 'submit' value='Check-Out'/></p>
        </form>
      </nav>
      </div>
    </div>
{% endblock %}