<!DOCTYPE html>
<html>

<head>
	<title>Bill</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <style>
        .center {
                margin-left: auto;
                margin-right: auto;
                }
    </style>
</head>
<body>
    {% if user.is_authenticated %}
    {% block items %}
    <h1 class="text-center">Final Bill</h1>

    <table class="center text-left">
    <tr><th><br/></th></tr>
    <tr><th><br/></th></tr>
    <tr><th><h4 class="text-left">Customer Info ==></h4></th></tr>
    <tr><th style="padding-right:10px">Name:   </th><th>{{ Name }}</th></tr>
    <tr><th style="padding-right:10px">Phone Number:</th><th>{{ Phone }}</th></tr>
    <tr><th style='margin-right:100px;'>Check-In Time:</th><th>{{ Checkin }}</th></tr>
    <tr><th style="padding-right:10px">Check-Out Time:</th><th>{{ Checkout }}</th></tr>
    <tr><th style="padding-right:10px">Room:</th><th>{{ RoomNo }}</th></tr>
    <tr><th style="padding-right:10px">Package:</th><th>{{ Package }}</th></tr>

    <tr><th><br/></th></tr>

    <tr><th><h4 class="text-left">Package Info ==></h4></th></tr>
    <tr><th style="padding-right:10px">Package Selected:</th><th>{{ Package }}</th></tr>
    <tr><th style="padding-right:10px">Package Cost: </th><th>₹{{ PackageCost }}</th></tr>
      
    <tr><th><br/></th></tr>

    <tr><th><h4 class="text-left">Room Bill ==></h4></th></tr>
    <tr><th style="padding-right:10px">Room Cost Per Day:</th><th>₹{{ RoomCost }}</th></tr>
    <tr><th style="padding-right:10px">Duration:</th><th>{{ Duration }} days</th></tr>
    <tr><th style="padding-right:10px">Advance Paid:</th><th>₹{{ Advance }}</th></tr>
    <tr><th style="padding-right:10px">Total Room Cost: {{ Duration }} * {{ RoomCost }} - {{ Advance }}:</th><th>₹{{ Total_Room_Cost }}</th></tr>
      
   
    <tr><th><br/></th></tr>

    <tr><th><h4 class="text-left">Resturant Bill ==></h4></th></tr>
    {% for instance in Resturant %}
    {% for obj in instance %}
    {% if forloop.first %}
    <tr></th><th class="text-left">At {{obj}}</th></tr>
    {% endif %}
    
    {% if not forloop.first %}
        <tr><th style="padding-right:10px">{{obj.item.item_name}} * {{obj.qunatity}}: </th><th>₹{% widthratio obj.item.item_cost 1 obj.qunatity %}</th></tr>
    {% endif %}
    {% endfor %}
    <tr><th><br/></th></tr>
    {% endfor %}
    <tr><th style="padding-right:10px">Total Resturant Cost:</th><th>₹{{ Total_Resturant_Cost }}</th></tr>
      

    <tr><th><br/></th></tr>
    
    <tr><th><h4 class="text-left">Gym Bill ==></h4></th></tr>
    {% for instance in Gym %}
    {% for obj in instance %}
    {% if forloop.first %}
        <tr></th><th class="text-left">At {{obj}}</th></tr>
    {% endif %}
    
    {% if not forloop.first %}
        <tr><th style="padding-right:10px">Time spent in gym:</th><th>{{ obj.time_spent_in_hours }} hrs</th>
        <tr><th style="padding-right:10px">{{obj.gym.cost_per_hour}} * {{obj.time_spent_in_hours}}: </th><th>₹{% widthratio obj.gym.cost_per_hour 1 obj.time_spent_in_hours %}</th></tr>
    {% endif %}
    {% endfor %}
    <tr><th><br/></th></tr>
    {% endfor %}
    <tr><th style="padding-right:10px">Total Gym Cost:</th><th>₹{{ Total_Gym_Cost }}</th></tr>
      

    <tr><th><br/></th></tr>
 
    <tr><th><h4 class="text-left">Pool Bill ==></h4></th></tr>
    {% for instance in Pool %}
    {% for obj in instance %}
    {% if forloop.first %}
    <tr></th><th class="text-left">At {{obj}}</th></tr>
    {% endif %}
    
    {% if not forloop.first %}
        <tr><th style="padding-right:10px">Time spent in pool:</th><th>{{ obj.time_spent_in_hours }} hrs</th>
        <tr><th style="padding-right:10px">{{obj.pool.cost_per_hour}} * {{obj.time_spent_in_hours}}: </th><th> ₹{% widthratio obj.pool.cost_per_hour 1 obj.time_spent_in_hours %}</th></tr>
    {% endif %}
    {% endfor %}
    <tr><th><br/></th></tr>
    {% endfor %}
    <tr><th style="padding-right:10px">Total Pool Cost:</th><th>₹{{ Total_Pool_Cost }}</th></tr>
      
    <tr><th><br/></th></tr>
    <tr><th style="padding-right:10px"><h5 >Total Cost: </h5></th><th><h5> ₹{{ total }}</h5></th></tr>
    <tr><th style="padding-right:10px"><h5 >Tax: </h5></th><th><h5> ₹{{ tax }}</h5></th></tr>
    <tr><th style="padding-right:10px"><h5 >Total Amt. payable: </h5></th><th><h5>₹{{ payable }}</h5></th></tr>
    </table>
    {% endblock %}
    {% endif %}
</body>
</html>