{% extends 'resturant_bill.html' %}

{% block title %}Gym Billing{% endblock %}
{% block form %}
<nav class="nav nav-pills flex-column flex-sm-row">
  <form method = 'POST' id='form-id'> {% csrf_token %}
    {% block form-title %}<h3 class="text-sm-center">Gym Billing:</h3>{% endblock %}
    <table>     
      <tr>
          <th>Cost Per Hour:</th>
          <th>{{obj.cost_per_hour}}</th>
      </tr>
      <tr>
        <th>Time Spent Per Hour:</th>
        <th><input type="number" id="time-spent" name="time-spent"></th>
      </tr>
      <tr>
        <th>Room No (If staying in Hotel)</th>
        <th><input type="number" id="roomNo" name="room_no"></th>
      </tr>
  </table>
  <br>
  <p class="text-sm-center"><input type = 'submit' value='Generate Bill'/></p>
    </form>
</nav>

{% endblock %}