{% extends 'receipt.html' %}

{% block items %}
{% block heading %}<h1 class="text-center">Gym Receipt</h1><br>{% endblock %}
<tr><th class='text-left' style="padding-right:10px">Time spent in Hours: </th><th class='text-right'>{{ time_spent }} hrs</th></tr>
<tr><th class='text-left' style="padding-right:10px">Cost Per Hour: </th><th class='text-right'>₹ {{ cost }}</th></tr>
<tr><th><br/></th></tr>
<tr><th class='text-left' style="padding-right:10px"><h5 >Total Cost: {{ time_spent }} * {{ cost }}:</h5></th><th class='text-right'><h5> ₹ {{ total }}</h5></th></tr>
{% endblock %}