<nav class="nav nav-pills flex-column flex-sm-row">
    <a class="flex-sm-fill text-sm-center nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
    <a class="flex-sm-fill text-sm-center nav-link active" href="{% url 'booking' %}">Check-In</a>
    <a class="flex-sm-fill text-sm-center nav-link active" href="{% url 'billing' %}">Check-Out</a>
    <a class="flex-sm-fill text-sm-center nav-link active" href="{% url 'resturant' %}">Resturant</a>
    <a class="flex-sm-fill text-sm-center nav-link active" href="{% url 'gym' %}">Gym</a>
    <a class="flex-sm-fill text-sm-center nav-link active" href="{% url 'pool' %}">Pool</a>
    <a class="flex-sm-fill text-sm-center nav-link active" href="{% url 'resturant-bills' %}">Resturant Bills</a>
  </nav>