<!DOCTYPE html>
<html>

<head>
	<title>Receipt</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <style>
        .center {
                margin-left: auto;
                margin-right: auto;
                }
    </style>
</head>
<body>
    {% if user.is_authenticated %}
    <table class="center">
    {% block items %}
    <h1 class="text-center">Resturant Receipt</h1><br/>
    {% for obj in bill %}
        <tr><th class='text-left' style="padding-right:10px">{{ obj.name }} * {{ obj.qunatity }}: </th><th class='text-right'>₹ {{ obj.cost }}</th></tr>
    {% endfor %}
    <tr><th><br/></th></tr>
    <tr><th class='text-left' style="padding-right:10px"><h5 >Total Cost: </h5></th><th class='text-right'><h5> ₹ {{ total }}</h5></th></tr>
    {% endblock %}
    <tr><th class='text-left' style="padding-right:10px"><h5 >Tax: </h5></th><th class='text-right'><h5> ₹ {{ tax }}</h5></th></tr>
    <tr><th class='text-left' style="padding-right:10px"><h5 >Total Amt. payable: </h5></th><th class='text-right'><h5>₹ {{ payable }}</h5></th></tr>
    {% endif %}
</table>
</body>
</html>