{% extends 'base.html' %}

{% block title %}Resturant Billing{% endblock %}

{% block content %}

  {% for message in messages %}
  <p id="messages">{{ message }}</p>
  {% endfor %}

  {% block form %}
  <nav class="nav nav-pills flex-column flex-sm-row">
<form method = 'POST' id='form-id'> {% csrf_token %}
  {% block form-title %}<h3 class="text-sm-center">Resturant Billing</h3>{% endblock %}
<table>
    <th for="Item_Id">Id </th>
    <th for="Item_Name"> Name </th>
    <th for="Item_cost"> cost </th>
    <th for="Item_cost"> Quantity </th>

  
      {% for instance in qs %}
      <tr>
        <th>{{instance.item_id}}</th>
        <th>{{instance.item_name}}</th>
        <th>{{instance.item_cost}}</th>
        <th><input type="number" id="qunat" name="{{instance.item_id}}"></th>
      </tr>
    {% endfor %}
    <tr>
      <th>Room No</th>
      <th>(If staying</th>
      <th>in Hotel)</th>
      <th><input type="number" id="roomNo" name="room_no"></th>
    </tr>
  </table>
  <br>
    <p class="text-sm-center"><input type = 'submit' value='Generate Bill'/></p>
  </form>
</nav>
  {% endblock %}
{% endblock %}